.main{
    min-height: 400px;
    min-height: calc(100vh - 288px);
    padding: 0;
}
.sidenav{
    width: 250px;
    padding: 8px 16px;
    position: fixed;
    .close{
        margin-left: 178px;
    }
    .divider{
        margin: 8px 0;
    }
}
.cart-items-count{
    position: absolute;
    top: -3px;
    left: 26px;
    background: #f44336;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 11px;
}

.logo-container{
    width: 350px;
}

.logo-container img {
    width:100%;
    height:auto;
}

mat-icon {
    margin-bottom: 10px;
    font-size:50px;
    width: 50px;
    height: 50px;
    color: #9aff26;
}

.theme-container main{
    margin:0;
    padding:0 !important;
}

.description{
    color:white;
    background-color: rgb(0,28,28);
    padding-top:50px;
    width:100vw;
    display:flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
}

p{
    font-size: 16px;
    color: lightgray;
}

.description span {
    padding-bottom: 15px;
    //color: #8bff26;
}

.descrieri-container{
    padding-bottom: 50px;
    display:flex;
    flex-direction: row;
    text-align: center;
    place-content: space-around;
}

.descriere1{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    font-size:18px;
    max-width:300px;
}
.descriere2{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    font-size:18px;
    max-width: 300px;
}
.descriere3{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    font-size:18px;
    max-width: 300px;
}
