<div class="main-container">
    
    <div class="left-section">
        <div class="field-title">
            <h1>{{terenSelectat.nume}}</h1>
        </div>
        <div class="image-container">
            <img src="https://images.unsplash.com/photo-1575279416810-e8e072ba5f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="slideshow">
        </div>

        <div class="description">
            <h3>Descriere:</h3>
            <p>{{terenSelectat.descriere}}</p>
        </div>

        <div class="locatie">
            <h3>Locatie:</h3>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=teren%20fotbal%20leu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
        </div>
    </div>

    <div class="right-section">
        <div class="booking-form-container">
            <form class="example-form">
                <mat-form-field class="nume" appearance="fill">
                  <mat-label>Nume</mat-label>
                  <input [(ngModel)]="nume" name="nume" matInput placeholder="Ex. Pat Scan">
                </mat-form-field>
        
                <mat-form-field class="email" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                           placeholder="Ex. pat@example.com">
                   
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is required
                    </mat-error>
                  </mat-form-field>
        
                  <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [(ngModel)]="data" [matDatepicker]="picker" name="data">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
        
               
                <button type="button" mat-raised-button color="primary" (click)="addBooking()">BOOK NOW</button>
              </form>
        </div>
        
    </div>
    
</div>