<div class="form-container">
    <form (submit)="searchTerenuri()">
    
        <mat-form-field color="primary" appearance="fill">
          <mat-label>Alegeti Sportul</mat-label>
          <mat-select [(ngModel)]="sportSelectat" name="Sport">
            <mat-option *ngFor="let o of sports" [value]="o.id">
              {{o.name}}
            </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field color="primary" appearance="fill">
            <mat-label>Alegeti Orasul</mat-label>
            <mat-select [(ngModel)]="orasSelectat" name="oras">
              <mat-option *ngFor="let o of orase" [value]="o.id">
                {{o.name}}
              </mat-option>
            </mat-select>
            </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="searchBySportAndOras()">GO!</button>
    </form>
</div>
